@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 100% 50%;
    --card: 0 0% 100%;
    --card-foreground: 0 100% 50%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 100% 50%;
    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 100% 95%;
    --secondary-foreground: 0 100% 50%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 100% 50%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 100% 50%;
    --radius: 0.5rem;
    --chart-1: 0 76% 61%;
    --chart-2: 0 58% 39%;
    --chart-3: 0 37% 24%;
    --chart-4: 0 74% 66%;
    --chart-5: 0 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 100% 50%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 100% 50%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 100% 50%;
    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 100% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 100% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
